@model LMS.Models.ShowActivitiesViewModel
@{
    ViewBag.Title = "Index";
}
<h4>Activities in current module</h4>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Activities.First().Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Activities.First().Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Activities.First().Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Activities.First().StartTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Activities.First().EndTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Activities.First().Deadline)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.Activities)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Deadline)
            </td>
            <td>
                @Html.ActionLink("Documents", "ShowActivityDocuments", new { id = item.Id })
            </td>
        </tr>
    }

</table>

